
*{
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: rgb(197, 197, 197);
    margin:0;
    padding:0;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}





/* ------------------------------------------------------*/
/* -----------------MOBILE RESPONSIVE ------------------ */
/* ------------------------------------------------------*/


@media screen and (max-width: 768px) {


.container-sm{
    background-image: url(assets/images/Desktop2.jpg);
    background-color: rgb(204, 236, 219);
    border: 2px solid black;
    padding: 3rem;
    width:60%;
    height:80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: cover;
}



    
.pass-gen-form-sm {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}





    
.PG-title-sm {
    margin:0;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 0.5em;
}




.section-sm {
    display:grid;
    grid-template-columns: auto auto;
    row-gap: 0.2rem;
    column-gap: 3rem; 
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    /* margin-bottom: 10px; */
    margin-bottom: 0.8rem;
}





    
.label-sm {
    font-size: 12px;
    font-weight: 800;
    text-align: center;
}
    




    
.password-display-sm {
    background-color: white;
    color: black;
    padding: 1rem;
    border: 1px solid black;
    height: 5rem;
    width: 83%;
    word-break: break-all;
    text-align: center;
    margin-bottom: 10px;
}




    
.btn-Submit-sm,
.btn-Copy-sm {
    width: 100%;
    height: 5rem;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 20px;
    font-weight: 1000;
    background-color: transparent;
    margin-bottom: 10px;
}
    



.btn-Submit-sm:hover, 
.btn-Copy-sm:hover {
    background-color: #1e9e1333;
}

} 
    








/* ------------------------------------------------------*/
/* -----------------TABLET RESPONSIVE ------------------ */
/* ------------------------------------------------------*/


@media screen and (min-width: 768px) {


.container-md{
    background-image: url(assets/images/Desktop2.jpg);
    background-color: rgb(204, 236, 219);
    border: 2px solid black;
    padding: 3rem;
    width:60%;
    height:80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: cover;
}




.pass-gen-form-md {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}





.PG-title-md {
    margin:0;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}




.section-md {
    display:grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 5rem; 
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    margin-bottom: 40px;
}







.label-md {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}





.password-display-md {
    grid-column: span 2;
    background-color: white;
    color: black;
    padding: 1rem;
    border: 1px solid black;
    height: 5rem;
    width: 93%;
    word-break: break-all;
    text-align: center;
    margin-bottom: 15px;
}





.btn-Submit-md,
.btn-Copy-md {
    width: 100%;
    height: 5rem;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 25px;
    font-weight: 1000;
    background-color: transparent;
    margin-bottom: 15px;
}



.btn-Submit-md:hover,
.btn-Copy-md:hover {
    background-color: #1e9e1333;
}
} 










/* ------------------------------------------------------*/
/* ----------------DESKTOP RESPONSIVE ------------------ */
/* ------------------------------------------------------*/

@media screen and (min-width: 992px) {


.container-dsk {
    background-image: url(assets/images/Desktop2.jpg);
    background-color: rgb(204, 236, 219);
    border: 2px solid black;
    padding: 3rem;
    width:60%;
    height:80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: cover;
}


    
.pass-gen-form-dsk {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 650px;
}



    
.PG-title-dsk {
    margin:0;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}




.section-dsk {
    display:grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 5rem; 
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    margin-bottom: 40px;
}
    

    



.label-dsk {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}
    



.password-display-dsk {
    grid-column: span 2;
    background-color: white;
    color: black;
    padding: 1rem;
    border: 1px solid black;
    height: 5rem;
    width: 95%;
    word-break: break-all;
    text-align: center;
    margin-bottom: 15px;
}



.btn-Submit-dsk,
.btn-Copy-dsk {
    width: 100%;
    height: 5rem;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 25px;
    font-weight: 1000;
    background-color: transparent;
    margin-bottom: 10px;
}



    
.btn-Submit-dsk:hover, 
.btn-Copy-dsk:hover {
    background-color: #1e9e1333;
}


}